#categoryMenuContentContainer {
  z-index: 2;
  padding: 5rem;
}

#categoryMenuButtonsContainer {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  row-gap: 50px;
  column-gap: 50px;
  height: 80%;
  place-items: center;
}