.game-screen-container {
  padding: 2rem;
}

#blackboard {
  display: grid;
  grid-template-columns: 4fr 1fr;
  height: 100%;
  width: 100%;
}

#wordsPlayContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#wordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#word {
  font-size: 2rem;
  letter-spacing: 1rem;
}

#lettersContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.letter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #000;
  width: 3rem;
  height: 3rem;
  text-align: center;
}

.letter {
  pointer-events: none;
  color: #fff;
}

#gameInfoContainer {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

#statsContainer {
  background-color: #303030;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.stat {
  width: 300px;
  flex-shrink: 0;
  font-size: 2rem;
}

#hangmanContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 40px;
}

.hangman-limb {
  position: absolute;
  background-color: white;
  color: white;
  width: 200px;
  height: 10px;
}

.limb-1 {
  transform: translateY(300px);
}

.limb-2 {
  transform: translateX(-50px) translateY(200px) rotate(90deg);
}

.limb-3 {
  width: 100px;
  transform: translateX(5px) translateY(105px);
}

.limb-4 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateX(40px) translateY(145px);
}

.limb-5 {
  height: 10px;
  width: 60px;
  border-radius: 20px;
  transform: translateX(40px) translateY(200px) rotate(90deg);
}

.limb-6 {
  height: 10px;
  width: 40px;
  border-radius: 20px;
  transform: translateX(55px) translateY(200px) rotate(45deg);
}

.limb-7 {
  height: 10px;
  width: 40px;
  border-radius: 20px;
  transform: translateX(25px) translateY(200px) rotate(-45deg);
}

.limb-8 {
  height: 10px;
  width: 50px;
  border-radius: 20px;
  transform: translateX(33px) translateY(245px) rotate(-70deg);
}

.limb-9 {
  height: 10px;
  width: 50px;
  border-radius: 20px;
  transform: translateX(48px) translateY(245px) rotate(70deg);
}

.limb-10 {
  width: 40px;
  height: 5px;
  transform: translateX(40px) translateY(125px) rotate(90deg);
}